$light: #ffffff;
$gray: #c4ccde;
$colorFondo: #171717;
$colorSeleccion: #3fe6e6;
$darkBg: #111111;
$tiktok1: #ff2c56;


@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1e1e1e;
    color: $light;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .linea_divisor{
    margin: 10px 0 30px 0;
  }


  .content-data-principal {
    background-color: #212121;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid #932a3f;

    width: fit-content;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .overlay-general-url {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
  }

  .overlay-general-url-line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent !important; /* Fondo de la página */
  }